*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background: rgb(1,2,22);
background: linear-gradient(152deg, rgba(1,2,22,1) 17%, rgba(19,27,128,1) 80%);

background-repeat: no-repeat;
}
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

